
<%- contentFor('hero') %>
		<section class="hero">
			<div class="hero-content">
				<h2>Welcome to Node World !!!</h2>
				<p>This is an awesome site. ^_^ </p>

				<a href="/" class="btn btn-primary btn-lg">Get Started</a>
				<a href="/contact" class="btn btn-primary btn-lg">Contact</a>
			</div>
		</section>

		<%- contentFor('body') %>
				<div class="jumbotron text-center">
					Home Page
				</div>
			

		